# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
jspm_packages/

# Build directories
dist/
build/

# Distribution directory
out/

# Static bundles
*.bundle.js

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Environment Variables
.env

# System files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
